body {
    background-image: url("../images/background.png");
    background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

nav {
    background-color: #2569A8;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav div {
    display: flex;
    align-items: center;
}

nav div p {
    margin: 0px;
    margin-left: 20px;
}

h1 {
    color: #000000;
    font-weight: normal;
    font-size: 60px;
}

h1.bold {
    font-weight: bold;
    font-style: italic;
}

h1.thin {
    font-weight: 100;
}

.btn,
.btn:focus {
    outline: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

.btn:hover {
    opacity: 0.7;
}

.head-text {
    margin-top: 10vh;
    position: relative;
    z-index: 1000;
}

.head-text h1 {
    font-size: 75px;
    margin-bottom: 0px;
}

.head-text p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-on-box h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
}

.text-on-box p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-style: italic;
}

.text-on-box {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.pillar-wrap {
    position: relative;
    top: -650px;
    z-index: -1;
}

.pillar-wrap div {
    position: relative;
}

.pillar-wrap .text {
    position: absolute;
    left: 30%;
}

.pillar-wrap .text h1 {
    color: white;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 33px;
}

.pillar-wrap .text p {
    color: white;
    margin-bottom: 0px;
    font-size: 30px;
}

.pillar-wrap .text-1 {
    top: 56%;
}

.pillar-wrap .text-2 {
    top: 68.5%;
}

.pillar-wrap .text-3 {
    top: 81%;
}

.clear {
    margin-bottom: -75vh;
    position: relative;
    z-index: 0;
}

.products {
    position: relative;
    z-index: 1000;
}

.products .plus {
    margin-top: -320px;
    text-align: center;
}

.products img {
    max-height: 400px;
    margin: auto;
}

.products .col-md-5,
.products .col-md-2 {
    text-align: center;
}

.products h1 {
    color: white;
    font-weight: bold;
}

.products h2 {
    color: white;
    font-weight: bold;
}

.products .btn {
    margin-top: 50px;
}

.list {
    margin-top: 120px;
    margin-bottom: 50px;
}

.list .col-md-6 {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
}

.list h2 {
    color: white;
    margin-right: -20px;
    font-weight: bold;
}

.list h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-weight: 100;
}

.before-after {
    margin-bottom: 100px;
}

.before-after p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

.before-after .col-12 {
    padding-left: 10%;
    padding-right: 10%;
}


.before-after .col-12  {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    width: fit-content;
}

.before-after .pillar-bg {
    position: relative;
}

.before-after .carousel {
    position: absolute;
    left: 21.5%;
    top: 0%;
    z-index: -1;
    width: 58%;
}

footer {
    background-color: #1A4E8A;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer p {
    margin-bottom: 0px;
}

@media screen and (max-width: 1366px) {
    .products .plus {
        margin-top: -250px;
    }
}

@media screen and (max-width: 1197px) {
    .pillar-wrap {
        top: -630px;
    }
}

@media screen and (max-width: 989px) {
    body {
        background-image: url("../images/mobile-background.png");
        background-size: contain;
    }
    h1 {
        font-size: 30px;
    }
    .head-text h1 {
        font-size: 45px;
    }
    .head-text {
        z-index: 0;
    }
    .text-on-box h1 {
        font-style: italic;
        font-weight: bold;
    }
    .pillar-wrap {
        position: relative;
        top: -450px;
        z-index: -1;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
        margin-right: -12px;
    }
    .pillar-wrap div {
        position: relative;
        right: -20%;
    }
    .products .plus {
        margin-top: -120px;
    }
    .products .plus img {
        max-width: 50px;
    }
    .pillar-wrap .text {
        left: 18%;
    }
    .pillar-wrap .text h1{
        font-size: 22px;
    }
    .pillar-wrap .text p {
        font-size: 18px;
    }
    .pillar-wrap .text-1 {
        top: 53.5%;
    }
    .pillar-wrap .text-2 {
        top: 66.5%;
    }
    .pillar-wrap .text-3 {
        top: 79%;
    }
    .list h2 {
        margin-right: -20px;
    }
    .text-on-box {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .list .col-md-6 {
        display: flex;
        align-items: end;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .btn img {
        max-width: 220px !important;
    }
}

@media screen and (max-width: 448px) {
    .products .plus {
        margin-top: -50px;
    }
}

@media screen and (max-width: 380px) {
    .products .plus {
        margin-top: 0px;
    }
    h1 {
        font-size: 24px;
    }
    .pillar-wrap {
        top: -380px;
    }
    .pillar-wrap .text h1 {
        font-size: 16px;
    }
    .pillar-wrap .text p {
        font-size: 14px;
    }
    .text-on-box {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .head-text p {
        font-size: 14px;
    }
    
}
